#image-container {
    padding-top: 50px;
}

#login-container {
    margin-top: 35px;
}

.login-heading {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 2rem;
}

.border {
    margin-left: 60px;
    margin-bottom: 20px;
}

.form-group {
    padding-right: 50px;
    padding-left: 50px;
}

.btn-outline-dark {
    margin-top: 20px;
}

.horizontal-line {
    border-top: 1px solid #343a40;
    width: 100%;
}

.or-text {
    margin: 0 15px;
}

.btn-link {
    margin-top: 50px;
}

.mt-4{
    padding-right: 50px;
}
