@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	font-family: Poppins, sans-serif;
	box-sizing: border-box;
}
body {
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 621px;
	height: 545px;
	background: rgb(255, 255, 255);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	overflow: hidden;
	border: 1px solid black;
	margin: auto;
}

.title {
	color: #000;
	position: absolute;
	left: 34px;
	top: 32px;
	font-size: 32px;
	font-weight: 600;
	line-height: 31.72px;
	word-wrap: break-word;
}

.subtitle {
	color: #000;
	position: absolute;
	left: 34px;
	top: 84px;
	font-size: 19.03px;
	font-weight: 400;
	line-height: 18.86px;
	word-wrap: break-word;
}

.input-event-name label {
	color: #000;
	position: absolute;
	left: 34px;
	top: 124px;
	font-size: 19.03px;
	font-weight: 400;
	line-height: 18.86px;
	word-wrap: break-word;
}

.input-event-name input {
	position: absolute;
	width: 420px;
	height: 33px;
	left: 167px;
	top: 117px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

.input-event-date label {
	color: #000;
	position: absolute;
	left: 35px;
	top: 168px;
	font-size: 19.03px;
	font-weight: 400;
	line-height: 18.86px;
	word-wrap: break-word;
}

.input-event-date input {
	color: rgb(0, 0, 0);
	position: absolute;
	width: 420px;
	height: 33px;
	left: 167px;
	top: 161px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

.subcontainer {
	position: absolute;
	width: 552px;
	height: 225px;
	left: 35px;
	top: 223px;
	border: 2px #a9a9a9 dashed;
}

.upload-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 76px;
	height: 76px;
	left: 273px;
	top: 238px;
}

.home-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
}

.upload-icon i {
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 76px;
	color: #0084ff;
}

.text1 {
	position: absolute;
	width: 414px;
	height: 21px;
	left: 104px;
	top: 304px;
	text-align: center;
	color: #959595;
	font-size: 20.98px;
	font-weight: 400;
	line-height: 21.72px;
	word-wrap: break-word;
}

.text2 {
	position: absolute;
	left: 179px;
	top: 353px;
	text-align: center;
	color: #959595;
	font-size: 12px;
	font-weight: 400;
	line-height: 16.31px;
	word-wrap: break-word;
}

.browse-file-button {
	width: 205px;
	height: 36px;
	left: 208px;
	top: 380px;
	position: absolute;
	background: #0084ff;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	color: white;
	font-size: 16.98px;
	font-family: Poppins;
	font-weight: 400;
	line-height: 25.72px;
	word-wrap: break-word;
}

.cancel-button {
	position: absolute;
	width: 132px;
	height: 45px;
	left: 253px;
	top: 468px;
	border-radius: 11px;
	border: 1px solid #e33629;
	background: transparent;
	cursor: pointer;
	color: #e33629;
	font-size: 19.03px;
	font-family: Poppins;
	font-weight: 600;
	line-height: 25.86px;
	word-wrap: break-word;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}

.submit-button {
	width: 189px;
	height: 45px;
	left: 400px;
	top: 468px;
	position: absolute;
	background-color: #0084ff;
	border: none;
	border-radius: 11px;
	cursor: pointer;
	color: white;
	font-weight: 600;
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	text-align: center;
	font-family: Poppins;
	font-size: 19.026px;
	line-height: 25.857px;
}

.attachment-file {
	margin-top: 190px;
}

.button-text {
	padding-top: 50px;
	text-align: left;
}

.pdfFile {
	display: inline;
	visibility: visible;
}
