@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ededed;
}
/* kinopya ko lang to kay oshu, hindi ko talaga maano ang css TT */
.container-fluid {
  width: 100%;
  height: 94vh;
}
.tbl-container {
  background-color: white;
  padding: 20px 40px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
}
.header {
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(111, 0, 0, 1) 0%,
    rgba(184, 20, 20, 1) 78%
  );  
  color: white;
  display: flex;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2);
}
.form-title {
  font-size: 25px;
  font-weight: bold;
}
#sidebar {
  padding: 0;
  background-color: white;
  color: #a21a1e;
  padding-top: 20px;
  height: 100%;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.nav-link {
  cursor: pointer;
}

.image-container {
  margin: auto;
  margin-top: 0;
  width: 180px;
  height: 180px;
  border: 5px solid #a21a1e;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.notification-bell {
  border-radius: 100%;
  overflow: hidden;
  background-color: black;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  margin-right: 10px;
  margin-left: 10px;
}

.header-text {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.container-form {
  background-color: white;
  padding: 10px;
}
.form-group {
  margin-bottom: 10px;
}
.db-container {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.active-link {
  color: white !important;
  background-color: #a21a1e;
  font-weight: bold;
  transform: translateY(-2px);
}
.text {
  color: #a21a1e;
  cursor: pointer !important;
  padding-left: 50px;
}
.text:hover {
  color: #ff474d;
  transform: translateY(-2px);
}
.subtitle {
  text-align: center;
  padding: 0 5px !important;
  color: #a21a1e;
}
.welcom {
  font-size: 12px;
}
.acc-container {
  background-color: white;
  padding: 20px 40px;
  border-radius: 5px;
}

.label-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-input label {
  flex-basis: 40%;
  text-align: left;
  padding-right: 10px;
}

.sub-container {
  border-radius: 5px;
  background-color: #f8d7da;
  text-align: center;
  padding: 20px 10px 10px;
  margin: 20px 0;
}

.db-table {
  max-width: 100%;
  height: 115px;
  margin-top: 40px;
}

.req-container {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}
