@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
	font-family: "Poppins", sans-serif;
}
.container-fluid {
	width: 100%;
	height: 94vh;
}
body {
	background: #f3f3f3;
}
.notification-bell {
	border-radius: 50%;
	overflow: hidden;
	background-color: white;
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#sidebar {
	padding: 0;
	background-color: white;
	color: #a21a1e;
	padding-top: 20px;
	height: 100%;
	box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2);
	height: 94vh;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.header {
	align-items: center;
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(111, 0, 0, 1) 0%, rgba(184, 20, 20, 1) 78%);
	color: white;
	display: flex;
	height: 6vh;
	box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
}

.edit-button {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background: linear-gradient(#019ad2 100%);
	background-color: #057fd0;
	border-radius: 5px;
	border: 1px solid #057fd0;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 24px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #5b6178;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.edit-button:hover {
	background: linear-gradient(to bottom, #019ad2 5%, #6fc2de 100%);
	background-color: #019ad2;
}
.edit-button:active {
	position: relative;
	top: 1px;
}
.label-input {
	display: flex;
	align-items: center;
}
.notification-icon {
	color: white;
	width: 30px;
	padding: 0;
}
.notif {
	font-size: 10px;
}
.image-container {
	margin: auto;
	margin-top: 0px;
	width: 180px;
	height: 180px;
	border: 5px solid #a21a1e;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.header img {
	margin-right: 10px;
	margin-left: 10px;
}
.header-text {
	display: flex;
	flex-direction: column;
	margin: 0;
}
.container-form {
	background-color: white;
	padding: 10px;
}
.form-group {
	margin-bottom: 10px;
}
.db {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.pieChart {
	max-width: 100%;
	height: 430px;
	max-height: 430px;
	max-width: 100%;
	overflow: hidden;
}
.db-container {
	background-color: white;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #cccccc;
	height: 430px;
	overflow-y: hidden;
}

.active-link {
	color: white !important;
	background-color: #a21a1e;
	font-weight: bold;
	transform: translateY(-2px);
}
.text {
	color: #a21a1e;
	cursor: pointer !important;
	padding-left: 50px;
}
.text:hover {
	color: #ff474d;
	transform: translateY(-2px);
}
.subtitle {
	text-align: center;
	padding: 0 5px !important;
	color: #a21a1e;
}
.welcom {
	font-size: 12px;
}
.form-title {
	font-size: 25px;
	font-weight: bold;
}
.tbl-container {
	background-color: white;
	padding: 20px 40px;
	border-radius: 5px;
	margin: 20px;
	box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
}
.sub-container {
	border-radius: 5px;
	background-color: #f8d7da;
	text-align: center;
	padding: 20px 10px 10px;
	margin: 20px 0;
}
.content {
	max-height: 94vh;
	overflow-y: scroll;
	max-width: 100%;
}

.content::-webkit-scrollbar {
	width: 0.5em;
}

.content::-webkit-scrollbar-thumb {
	background-color: transparent;
}
